:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.message {
  font-weight: 500;
  margin: 4px 0;
}

.message.success {
  color: green;
}

.message.exists {
  color: goldenrod;
}

.message.not_found {
  color: red;
}

.message.error {
  color: darkred;
}

.stats-table {
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100%;
  max-width: 400px;
  background-color: #fafafa20;
  border: 1px solid #ddd;
}

.stats-table td {
  border: 1px solid #ddd;
  padding: 8px 12px;
}

.stats-table tr:nth-child(even) {
  background-color: #fafafa10;
}

.stats-table tr:hover {
  background-color: #fafafa30;
}

.stats-table td:first-child {
  font-weight: bold;
  width: 60%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1rem;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-right: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
